.container {
  width: 100%;

  .containerInitial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .backgroundImage {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tracker {
    padding: 1.2rem;
    object-fit: contain;
    width: 100%;
    border: 3px solid;
    border-image: linear-gradient(#00a2ff, #33ff00) 1 100%;
    animation: animate-color 4s linear infinite;
    
    z-index: 1;
    background: linear-gradient(
      152.48deg,
      #000000 -3.58%,
      #2c2c2c 105.81%
    );
  }

  .textIntroduction {
    color: #fff;
    display: flex;
    padding: 1rem 0rem 2rem 0rem;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    h2{
      font-size: 20px;
      text-align: left;
    }
    span{
      text-align: left;

    }
  }

  .division {
    width: 94%;
    margin: 1rem auto;
    background-color: #4d4d4d;
    border: none;
    height: 2px;
  }

  .containerAdvantage {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    .itemAdvantage {
      color: #fff;
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      transition: 0.5s all;

      h4 {
        position: relative;
        font-weight: 600;
        margin-bottom: 0.7rem;

        &::before {
          content: "";
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: #00a2ff;
          width: 6px;
          border-radius: 2px;
          height: 50%;
        }
      }

      span {
        font-weight: 300;
        color: #e0e0e0;
      }
    }
  }

  .containerSocialMedia {
    padding: 1rem 2rem 4rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    .itemSocialMedia {
      color: #00e0ff;
      width: 100%;
      display: flex;
      justify-content: center;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      align-items: center;
      gap: 0.5rem;
      border: 2px solid #00e0ff;
      padding: 1rem;
    }
  }
}
